<%- include('partials/header') %>

  <div class="container col-sm-9 col-lg-6 mt-5">
    <h1>Login</h1>

    <div class="row justify-content-center form-row">
      <div class="col-sm-12 l-g-form">
        <div class="card">
          <div class="card-body">

            <!-- Makes POST request to /login route -->
            <form  action="/login" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-dark">Login</button>
            </form>

          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
              <img src="images/google.png" alt="">
              Sign In with Google
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%- include('partials/footer') %>