/*========================== < 1350px ==========================*/

@media only screen and (max-width: 1400px) {
  /*-------------------------- SPECIFIC.ejs --------------------------*/

  .specific-item {
    /* min-height: calc((100vh - 70px - 97px)); */
    margin-top: 0px;
    flex-direction: column;
  }

  .specific-item .item-image {
    width: 100%;
    margin-right: 0;
  }

  .specific-item .item-image img {
    width: 60%;
  }

  .specific-item .item-image .deal-option a {
    width: 170px;
  }

  .specific-item .item-details {
    width: 100%;
    padding: 0px 40px;
  }

  .specific-item .item-details .item-more-details ul {
    margin-bottom: 40px;
  }

  /*-------------------------- SEARCH_RESULTS.ejs --------------------------*/

  .card-items {
    width: 25%;
  }

  .card-items .card .img-container {
    padding: 10px;
  }
}

/*========================== < 1200px ==========================*/

@media (max-width: 1200px) {
  /*-------------------------- SEARCH_RESULTS.ejs --------------------------*/

  .products-results .card-items {
    flex: 1 1 calc(33.33% - 10px); /* Show 3 items per row on medium screens */
    max-width: calc(33.33% - 10px);
  }
}

/*========================== < 950px ==========================*/

@media only screen and (max-width: 950px) {
  /*-------------------------- HOME.ejs --------------------------*/

  .lead {
    font-size: 15px;
  }

  /*-------------------------- INDEX.ejs --------------------------*/

  .home-items-section .home-product-cards .card-items .card p {
    font-size: 12px;
  }

  .home-items-section .home-product-cards .card-items {
    flex: 0 0 calc(20% - 10px);
    margin: 0px 5px;
  }

  /*-------------------------- POST_EDIT.ejs --------------------------*/

  .post-edit-container .post-image img {
    width: 30%;
  }

  /*-------------------------- PROFILE.ejs --------------------------*/

  .follow-btn {
    font-size: 12px;
    width: 100px;
  }

  .profile .e-f-f {
    width: 100%;
    font-size: 12px;
  }

  /*-------------------------- SEARCH_RESULTS.ejs --------------------------*/

  .card-items {
    width: 30%;
  }
}

/*========================== < 750px ==========================*/

@media only screen and (max-width: 770px) {
  /*-------------------------- INDEX.ejs --------------------------*/

  .home-container-2 .carousel-item {
    height: 150px;
  }

  .home-container-2 .carousel-item img {
    height: 150px;
    object-fit: cover;
  }

  .home-items-section .home-product-cards .card-items .card p {
    font-size: 10px;
  }
  .home-items-section .home-product-cards .card-items {
    flex: 0 0 calc(33.33% - 10px); /* Three cards in view on mobile */
  }
  .home-items-section .home-product-cards .card-items .card .card-body {
    padding: 1px;
  }

  .home-items-section .home-product-cards .card-items .card img {
    padding: 5px;
  }
  .home-items-section .carousel-btn {
    padding: 20px 10px;
  }

  /*-------------------------- SPECIFIC.ejs --------------------------*/

  .tags > * {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .tags p {
    display: none;
  }

  /*-------------------------- SOCIAL.ejs --------------------------*/

  .social-container {
    width: 95vw;
    padding: 10px 20px;
  }

  .social-container .post > * {
    width: 100%;
  }
  .social-container .post p {
    font-size: 12px;
    /* line-height: 15px; */
  }

  .social-container .post-caption {
    line-height: 17px;
  }

  .star-rating {
    font-size: 20px;
  }

  .social-container .post .post-like-comment i {
    font-size: 20px;
  }

  /*-------------------------- SEARCH_RESULTS.ejs --------------------------*/

  .products-results .card-items {
    flex: 1 1 calc(50% - 10px); /* Show 2 items per row on smaller screens */
    max-width: calc(50% - 10px);
  }
}

/*========================== < 650px ==========================*/

@media only screen and (max-width: 650px) {
  /*-------------------------- BASIC --------------------------*/

  section {
    width: 99vw;
  }

  /*-------------------------- FOOTER --------------------------*/

  .custom-footer {
    border-top: 1px solid var(--footer-text-color) !important;
  }

  footer span {
    font-size: 12px;
    margin-bottom: 0px;
  }
  footer i {
    font-size: 12px;
  }

  /*-------------------------- INDEX.ejs --------------------------*/

  .carousel-indicators,
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  .home-items-section {
    padding: 10px;
  }

  .home-items-section .home-product-cards .card-items {
    margin: 0 5px;
  }

  .home-items-section .home-product-cards .card-items .card .img-container {
    height: 150px;
  }

  .home-items-section .home-product-cards .card-body {
    padding: 5px;
  }

  .home-items-section .home-product-cards .card-items .card p {
    font-size: 10px;
  }

  /*-------------------------- SPECIFIC.ejs --------------------------*/

  .specific-item .item-image .deal-option {
    flex-direction: column;
    align-items: center;
  }

  .specific-item .item-image .deal-option a {
    font-size: 15px;
    width: 60%;
    /* margin: 0px 10px; */
    margin-bottom: 10px;
    padding: 7px 14px;
  }

  .specific-item .item-details {
    width: 95%;
    padding: 0px 5px;
  }

  .specific-item .price-details .special {
    color: rgb(5, 189, 5);
    font-weight: bolder;
    font-size: 12px;
  }

  .specific-item .price-details .item-price > * {
    margin-right: 10px;
  }

  .specific-item .price-details .item-price .special-price {
    font-size: 12px;
  }

  .specific-item .item-details .price-details .item-price .actual-price {
    font-size: 12px;
  }

  .specific-item .item-details .item-more-details ul li {
    font-size: 12px;
  }

  /*-------------------------- SEARCH_RESULTS.ejs --------------------------*/

  .card-items .card .img-container {
    padding: 2px;
    height: 130px;
  }

  .card-body .card-title,
  .card-body .card-text {
    font-size: 10px;
    padding: 5px;
  }
}

/*========================== < 576px ==========================*/

@media (max-width: 576px) {

  /*-------------------------- SEARCH_RESULTS.ejs --------------------------*/
  
  .products-results .card-items {
    flex: 1 1 100%; /* Show 1 item per row on very small screens */
    max-width: 100%;
  }
}

/*========================== < 435px ==========================*/

@media only screen and (max-width: 435px) {
  .specific-item {
    padding: 0px 5px;
  }

  .specific-item .item-image .deal-option a {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .specific-item .item-details .item-more-details ul li {
    font-size: 12px;
  }

  /*-------------------------- PROFILE.ejs --------------------------*/

  .profile-header {
    padding: 20px 10px;
  }
}
